.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container li {
  padding: 10px;
}

.flex-container a:hover {
  background-color: $light-gray;
  text-decoration: underline;
}
